<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
		<meta name="description" content="Agency - Business And Agency Template">
	<meta property="og:title" content="Agency : Business And Agency Template">
	<meta property="og:description" content="Agency : Business And Agency Template">
	<meta property="og:image" content="https://agency.dexignlab.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON -->
	<link rel="icon" href="images\favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" type="image/x-icon" href="images\favicon.png">
	
	<!-- PAGE TITLE HERE -->
	<title>Agency : Business And Agency Template </title>
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width">
	
	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="css\plugins.min.css">
	<link rel="stylesheet" type="text/css" href="plugins\fontawesome\css\font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="plugins\flaticon\flaticon.css">
	<link rel="stylesheet" type="text/css" href="plugins\themify\themify-icons.css">
	<link rel="stylesheet" type="text/css" href="css\style.min.css">
	<link rel="stylesheet" type="text/css" href="css\templete.min.css">
	<link class="skin" rel="stylesheet" type="text/css" href="css\skin\skin-1.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;700;900&display=swap" rel="stylesheet"> 
	
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-area"><div class="la-anim-10"></div></div>

  
    <!-- Content -->
    <div class="bg-white">
        <!-- inner page banner -->
        <div class="under-construction" style="background-image:url(images/under-construction.jpg); background-repeat:no-repeat; background-size:100%; background-position:bottom;">
            <div class="container">
                <div class="row full-height">
					<div class="col-md-12 col-lg-12 text-center header-ind">
						<div class="">
							<div class="logo-header">
								<img src="images\logo-black.png" alt="">
							</div>
						</div>
						<h2>
							<span>Site Under</span> <br> Maintenance
						</h2>
					</div>
				</div>
            </div>
        </div>
        <!-- inner page banner END -->
	</div>
    <!-- Content END-->
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="js\combining.js"></script><!-- COMBINING JS  -->
<script src='https://www.google.com/recaptcha/api.js'></script> <!-- Google API For Recaptcha  -->
</body>
</html>
